@import 'bits';

.add {
  font-weight: 700;
  color: $dark-green;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 5px lime;
  }

  &.buddy {
    color: $green;
  }
}

.remove {
  color: $red;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 5px red;
  }
}

th.remove.all {
  background: $red;
}

#new-item td.add, table .item td.remove {
  min-width: 25px;
  text-align: center;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

