<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tests</title>
    <link rel="stylesheet" href="/tests/qunit.css" />
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
      <%= partial '_index.html' %>
    </div>
    <%= javascript_include_tag  "tests" %>
  </body>
</html>
